:root{--primary: #fc6b57!important;}

.corporate-success {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .text p {
    font-size: 20px;
    line-height: 1.6;
    width: 25vw;
  }
  
  .stats {
    display: flex;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
  }
  
  .stat-box {
    text-align: center;
  }
  
  .stat-box h2 {
    font-size: 64px;
    margin: 0;
    font-weight: 300;
  }
  
  .stat-box p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .divider {
    width: 1px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
  }
  
  .divider::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: #4d4a64;
    border-radius: 50%;
  }


  /* @media (max-width: 1488px) {
    .corporate-success {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 60px 80px;
        background-color: #000000;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }

      .text p {
        font-size: 20px;
        line-height: 1.6;
        max-width: 400px;
        margin-bottom: 60px;
      }

      .stats {
        display: flex;
        align-items: center;
        gap: 120px;
    }
  } */


  .hero-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -12vh;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 50%, #000000 100%);
    z-index: 1;
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 0 20px;
    margin-top: 50vh;
  }
  
  .hero-content h1 {
    font-family: "fraunces-variable",sans-serif;
    text-transform: uppercase;
    font-size: 6em;
    font-weight: 700;
    line-height: 1em;
    display: block;
  }
  
  .hero-content h1 span {
    font-size: 2.5rem;
    display: block;
  }
  
  .hero-btn {
    margin-top: 30px;
    display: inline-block;
    background-color: #fc6b57;
    color: white;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 60px;
    text-decoration: none;
    transition: background 0.3s ease;
    box-shadow: 0 4px 0 #c64f3f;
  }
  
  .hero-btn span {
    font-size: 18px;
    margin-left: 6px;
  }
  
  .hero-btn:hover {
    background-color: #e55c48;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 2rem;
    }
  
    .hero-content h1 span {
      font-size: 1.5rem;
    }
  
    .hero-btn {
      padding: 10px 20px;
      font-size: 16px;
    }
  }

  .hero-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 16px;
  }
  
  .hero-divider::before,
  .hero-divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: white;
    opacity: 0.8;
  }
  
  .hero-divider span {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
  }

  .site-logo {
    max-width: 100px!important;
}

.heading {
  text-transform:none!important;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 479px) {
  .service-sticky-card{
  width: 90vw!important;
  margin-left: auto!important;
  margin-right: auto!important; 
}}

.arc-image{
  font-size: 13.5px!important;
}

.bg-circle-absolute {
  z-index: -11;
  background-color: #2e4757!important;
  border-radius: 50%;
  width: 550px;
  height: 550px;
  position: absolute;
}

.faq-title-18px {

  text-transform: none!important;}

  @media (max-width:801px) {

  .mobile{
  margin-left: auto!important;
  margin-right: auto!important;
  width: 93.5vw!important;
}

.mobile2{
  width: 60vw!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

.mobile3{
  width: 80vw!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

.mobile4{
  top: 60vh;
}

.input:focus{
  border-color: #eb6d5d!important;
}
}
/* .main-body{
  width: 90vw!important;
  margin-left: auto!important;  
  margin-right: auto!important;
} */

.w-slider-nav{
  top: 0vh!important;
}

.partner-logo{
  height: 100px!important;
}
textarea {
  resize: vertical!important;
}

/*Delimitare pasrte stanga*/
.bg-circle-absolute {
  z-index: -11;
  background-color: #ffa66b80;
  border-radius: 50%;
  width: 500px!important;
  height: 500px!important;
  position: absolute;
}

.image-wrapper-between {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.25fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  place-items: center;
  width: 40%!important;
  display: grid;
  position: relative;
}

._8px-circle {
  background-color: transparent!important; 
    border-radius: 0px!important;
    width: 8px; 
    height: 8px;
  border-top: 10px solid transparent!important;
  border-bottom: 10px solid transparent!important;
  border-left: 10px solid #fc6b57!important;
}